body {
    color: white;
    background: linear-gradient(to right, #141e30, #243b55);
    font-family: tahoma;
}

h1, p {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

button {
    padding: 12px 28px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #141e30, #243b55);
    border: 3px solid #243b55;
    border-radius: 999px;
    cursor: pointer;
    box-shadow: 0 0 5px 10px rgba(36, 59, 85, 0.2);
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 10px 20px rgba(36, 59, 85, 0.4);
}

button:active {
    transform: scale(0.98);
}